.cabecalhoFixo {
    position: fixed;
    bottom: 0;
}

.rodapeFixo {
    position: fixed;
    bottom: 0;
}

.title {
    

}

.imgBG { 
    background-image: url(/img/fundoPagina.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}









